<!DOCTYPE html>
<html lang="en-us">
<html>
	<head>
		<style>
		title {
		  color: #333333;
		  font-family: serif;
		  font-size: 180%;
		}
		h1 {
		  color: #000080;
		  font-family: serif;
		  font-size: 160%;
		}
		p  {
		  color: black;
		  font-family: serif;
		  font-size: 110%;
		}
		b  {
			color: #000080;
			font-family: serif;
			font-size: 120%;
		}
		body {
			background-color: #e0ffff;
		}
		</style>
		<title>bluewaterboatsearch.org</title>
		<h1>
			<b>Blue Water Boats for Sale in Australia</b>
		</h1>
	</head>
	<body>
		<br>
		<p>
			It's time consuming to search for quality open water boats for sale, so we took a list of all the boats from <a href="https://bluewaterboats.org/" target="_blank" style="target-new: tab;">bluewaterboats.org</a>, then searched <a href="https://gumtree.com.au" target="_blank" style="target-new: tab;">gumtree.com.au</a> for them.
		</p>
		<br>
		<p>
			Gumtree Australia returned the following results:
		</p>
		<p>
			{% include 'search_boats.html' %}
		</p>
		<br>
		<p>
			Searches for all other boats returned 0 results and are omitted. Search results are refreshed every 6 hours.
		</p>	
		<hr>
		<p>
			© 2022 bluewaterboatsearch.org
		</p>
		<p>
			<a href="https://github.com/Gary5691/bluewaterboatsearch">github</a>
			<a href="https://www.cruisersforum.com/forums/members/gary5691-247737.html">cruisersforum</a>
		</p>
		<p>
			Version 0.04
		</p>
	</body>
</html>
